{% extends 'base_layout.html' %}

{% block style %}
    <style>
        .tabs .indicator{
            background-blend-mode: darken;
        }

        .tabs .tab a:focus, .tabs .tab a:focus.active{
            background: transparent;
        }

        pre {
            font-family: -apple-system, BlinkMacSystemFont,"Segoe UI", Roboto,Oxygen-Sans,Ubuntu,Cantarell, "Helvetica Neue",sans-serif;
            overflow-x: auto;
            word-wrap: break-word;
            text-align: justify;
            display: block;
            white-space: pre-line;
        }
        .button {
            display: inline-block;
            border-radius: 50px;
            background-color: #04AA6D;
            border: none;
            color: #FFF;
            text-align: center;
            padding: 10px 15px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }

            .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

            .button:hover span {
            padding-right: 25px;
        }

            .button:hover span:after {
            opacity: 1;
            right: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row"></div>
        <div class="row">
            <ul class="tabs">
                <li class="tab col l3"><a href="#Critical" class="red darken-4 white-text active">Critical</a></li>
                <li class="tab col l3"><a href="#High" class="red white-text">High</a></li>
                <li class="tab col l2"><a href="#Medium" class="yellow accent-4 black-text">Medium</a></li>
                <li class="tab col l2"><a href="#Low" class="green accent-4 white-text">Low</a></li>
                <li class="tab col l2"><a href="#None" class="blue accent-4 white-text">Info</a></li>
            </ul>
        </div>
        <div class="row">
            {% for key, value in vulns.items %}
                <div class="col l12" id="{{ key }}">
                    <ul class="collapsible popout">
                        {% for vuln, data in value.items %}
                            <li>
                                <div class="collapsible-header">
                                    {% comment %} <div class="row"> {% endcomment %}
                                        <div class="col l11">
                                            {% if 'Medium' in data.risk%}
                                                <i class="material-icons yellow-text accent-4">error</i>
                                            {% elif 'Critical' in data.risk %}
                                                <i class="material-icons red-text darken-4">error</i>
                                            {% elif 'High' in data.risk %}
                                                <i class="material-icons red-text">error_outline</i>
                                            {% elif 'Low' in data.risk %}
                                                <i class="material-icons green-text">error</i>
                                            {% elif 'None' in data.risk %}
                                                <i class="material-icons blue-text">info</i>
                                            {% endif %}
                                            {{ data.name }} 
                                        </div>
                                        <div class="col l1">
                                            <span class="new badge red" data-badge-caption="IP">{{ data.hosts|length }}</span>
                                        </div>
                                    {% comment %} </div> {% endcomment %}
                                </div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <div class="col l6">Risk</div>
                                        <div class="col l6">
                                            {% if 'None' in data.risk %} 
                                                Info 
                                            {% else %}
                                                {{ data.risk }}  
                                            {% endif %}
                                        </div>
                                        <div class="col l6 bold">Plugin ID</div>
                                        <div class="col l6"> {{ data.pluginID }} </div>
                                        <div class="col l6">Files</div>
                                        <div class="col l6">
                                            {% for file in data.file %}
                                                <div class="chip">{{ file }}</div>
                                            {% endfor %}
                                        </div>
                                        <div class="col l6"></div>
                                        <div class="col l6"><a
                                                href="https://www.infosecmatter.com/nessus-plugin-library/?id={{ data.pluginID }}#:~:text=.-,public%20exploits,-Target%20Network%20Port"
                                                target="_blank" class="button" style="vertical-align:middle"><span>Check Public Exploits</span></a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col l12" style="font-weight: bold;">Synopsis</div>
                                        <div class="col l12">
                                            <pre>
                                                {{data.synopsis}}
                                            </pre>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col l12" style="font-weight: bold;">Description</div>
                                        <div class="col l12">
                                            <pre>
                                                {{data.description}}
                                            </pre>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col l12" style="font-weight: bold;">Solution</div>
                                        <div class="col l12">
                                            <pre>
                                                {{data.solution}}
                                            </pre>
                                        </div>
                                    </div>

                                    <!-- CVSS 3 score/string -->
                                    {% if data.cvss3_vector or data.cvss3_base_score %}
                                        <div class="row">
                                            <div class="col l12" style="font-weight: bold;">CVSS Details</div>
                                            <div class="col l12">
                                                <pre>
                                                    CVSS 3.0 Score: {{data.cvss3_base_score}}
                                                    CVSS 3.0 Vector: <a href="https://www.first.org/cvss/calculator/3.0#{{data.cvss3_vector}}" target="_blank">{{data.cvss3_vector}}</a>
                                                </pre>
                                            </div>
                                        </div>  
                                    {% endif %}

                                    <!-- List of CVEs -->
                                    {% if data.cves %}
                                        <div class="row">
                                            <div class="col l12" style="font-weight: bold;">CVE(s)</div>
                                            <div class="col l12">
                                                <!-- <pre> -->
                                                    {% for cves in data.cves %}
                                                        <a href="https://www.cvedetails.com/cve/{{ cves }}" target="_blank">{{ cves }}</a><br>
                                                    {% endfor %}
                                                <!-- </pre> -->
                                            </div>
                                        </div>
                                    {% endif %}

                                    <!-- References -->
                                    {% if data.see_also %}
                                        <div class="row">
                                            <div class="col l12" style="font-weight: bold;">References</div>
                                            <div class="col l12">
                                                <pre>
                                                    {{data.see_also}}
                                                </pre>
                                            </div>
                                        </div>
                                    {% endif %}


                                    <div class="row">
                                        <ul class="collapsible">
                                            {% for host in data.hosts %}
                                                <li>
                                                    <div class="collapsible-header">
                                                        {{ host.0 }}
                                                    </div>

                                                    <div class="collapsible-body">
                                                        <pre>
                                                            {{ host.1 }}
                                                        </pre>
                                                    </div>    
                                                </li>    
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script>
        $(document).ready(function(){
            $('.collapsible').collapsible();
            $('.tabs').tabs();
        });
    </script>
{% endblock %}
