{% extends 'base_layout.html' %}

{% block style %}
    <style>
        .tabs .indicator{
            background-blend-mode: darken;
        }

        .tabs .tab a:focus, .tabs .tab a:focus.active{
            background: transparent;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row"></div>
        <div class="row">
            <ul class="tabs">
                <li class="tab col l3"><a href="#Critical" class="red accent-4 white-text active">Critical</a></li>
                <li class="tab col l3"><a href="#High" class="red white-text">High</a></li>
                <li class="tab col l2"><a href="#Medium" class="yellow black-text">Medium</a></li>
                <li class="tab col l2"><a href="#Low" class="green white-text">Low</a></li>
                <li class="tab col l2"><a href="#None" class="blue white-text">Info</a></li>
            </ul>
        </div>
        <div class="row">
            {% for key, value in vulns.items %}
                <div class="col l12" id="{{ key }}">
                    <ul class="collapsible popout">
                        {% for vuln, data in value.items %}
                            <li>
                                <div class="collapsible-header">
                                    {% comment %} <div class="row"> {% endcomment %}
                                        <div class="col l11">
                                            {% if 'Medium' in data.risk%}
                                                <i class="material-icons yellow-text">error</i>
                                            {% elif 'Critical' in data.risk %}
                                                <i class="material-icons red-text accent-4">error</i>
                                            {% elif 'High' in data.risk %}
                                                <i class="material-icons red-text">error_outline</i>
                                            {% elif 'Low' in data.risk %}
                                                <i class="material-icons green-text">error</i>
                                            {% elif 'None' in data.risk %}
                                                <i class="material-icons blue-text">info</i>
                                            {% endif %}
                                            {{ data.name }} 
                                        </div>
                                        <div class="col l1">
                                            <span class="new badge red" data-badge-caption="IP">{{ data.hosts|length }}</span>
                                        </div>
                                    {% comment %} </div> {% endcomment %}
                                </div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <div class="col l6">Risk</div>
                                        <div class="col l6">
                                            {% if 'None' in data.risk %} 
                                                Info 
                                            {% else %}
                                                {{ data.risk }}  
                                            {% endif %}
                                        </div>
                                        <div class="col l6 bold">Plugin ID</div>
                                        <div class="col l6"> {{ data.pluginID }} </div>                                        
                                        <div class="col l6">Files</div>
                                        <div class="col l6">
                                            {% for file in data.file %}
                                                <div class="chip">{{ file }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col l12">Description</div>
                                        <div class="col l12"><p class="" >{{data.description}}</p></div>
                                    </div>
                                    <div class="row">
                                        <ul class="collapsible">
                                            {% for host in data.hosts %}
                                                <li>
                                                    <div class="collapsible-header">
                                                        {{ host.0 }}
                                                    </div>

                                                    <div class="collapsible-body">
                                                        {{ host.1 }}
                                                    </div>    
                                                </li>    
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script>
        $(document).ready(function(){
            $('.collapsible').collapsible();
            $('.tabs').tabs();
        });
    </script>
{% endblock %}