{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/material-icons.css' %}">
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    
    
    {% block style %}
    
    {% endblock %}
    <title>Nessus Map</title>
</head>
<body>
    
    <header>
        <nav class="nav-wrapper blue-grey darken-4">
            <div class="container">
                <a href="/" class="brand-logo">Nessus Map</a>
                <ul class="right">
                    <li><a href="{% url 'home' %}">Home</a></li>
                </ul>
            </div>
        </nav>
    </header>

    {% block content%}
    
    {% endblock %}
    
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    {% block scripts %}

    {% endblock %}
</body>
</html>